<%= form_with(model: cliente, local: true) do |form| %>
  <body>
  <div class="container" >
    <div class="content">  
        <div id='cadastro'>
          <h1><%= pagina %></h1>
          <% if cliente.errors.any? %>
            <div id="error_explanation">
              <p id="alert"><%= cliente.errors.messages.values[0][0]%></p>
            </div>
          <% end %>
          <p id="alert"><%= alert %></p>
          <br>
          <div class="field">
            <%= form.label :Nome %>
            <%= form.text_field :Nome %>
          </div>

          <div class="field">
            <%= form.label :Email %>
            <%= form.text_field :Email %>
          </div>

          <div class="field">
            <%= form.label :CPF, "CPF" %>
            <%= form.text_field :CPF %>
          </div>

          <div class="field">
            <%= form.label :Telefone, "Telefone(DDD)" %>
            <%= form.text_field :Telefone %>
          </div>


          <div class="field">
            <%= form.label :Idade %>
            <%= form.text_field :Idade %>
          </div>

          <div class="control-group">
          	<%= form.label "Sexo", class: "control-label" %>
          	<div class="controls">
          		<%= form.select(:Sexo, options_for_select([['Selecione'], ['Masculino'], ['Feminino'], ['Indefinido']])) %>
          	</div>
          </div>
          <br>
          <div class="actions">
            <%= form.submit "Enviar" %>
          </div>
          <div >
            <%= link_to '<button type="button">Voltar</button>'.html_safe, clientes_path %>
          </div>
        </div>
      </div>
    </div>
  </body>
<% end %>
